@model ProductDto
@{
    ViewData["Title"] = "Admin Ürün Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Product Details Area Start -->
<div class="single-product-area section-padding-100 clearfix">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="single_product_thumb">
                    <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li class="active" data-target="#product_details_slider" data-slide-to="0" style="background-image: url(@Model.ProductImages[0].Url);">
                            </li>
                            @for (int i = 1; i < @Model.ProductImages.Count; i++)
                            {
                                <li data-target="#product_details_slider" data-slide-to="@i" style="background-image: url(@Model.ProductImages[i].Url);">
                                </li>
                            }

                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a class="gallery_img" href="@Model.ProductImages[0].Url">
                                    <img class="d-block w-100" src="@Model.ProductImages[0].Url" alt="First slide">
                                </a>
                            </div>

                            @for (int i = 1; i < @Model.ProductImages.Count; i++)
                            {
                                <div class="carousel-item">
                                    <a class="gallery_img" href="@Model.ProductImages[i].Url">
                                        <img class="d-block w-100" src="@Model.ProductImages[i].Url" alt="Slide-@i">
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <div class="single_product_desc">
                    <!-- Product Meta Data -->
                    <div class="product-meta-data">
                        <div class="line"></div>
                        <p class="product-price">@Model.Price</p>
                        <a href="product-details.html">
                            <h6>@Model.ProductName</h6>
                        </a>
                        <!-- Ratings & Review -->
                        <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                            <div class="ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="review">
                                <span>@Model.ProductCode</span>
                            </div>
                        </div>
                        <!-- Avaiable -->
                        @if (Model.StockShortage)
                        {
                            <p class="noavaibility"><i class="fa fa-circle"></i> Düşük Stok</p>
                        }
                        else
                        {
                            <p class="avaibility"><i class="fa fa-circle"></i> Yeterli Stok</p>
                        }
                    </div>
                    @if (Model.Brand != null)
                    {
                        <div class="short_overview my-5">
                            Marka Adı: <p>@Model.Brand.BrandName</p>
                        </div>
                    }
                    @if (Model.Category != null)
                    {
                        <div class="short_overview my-5">
                            Kategori Adı: <p>@Model.Category.CategoryName</p>
                        </div>
                    }


                    <div class="short_overview my-5">
                        <p>@Model.Description</p>
                    </div>
                    <div class="amado-btn-group">
                        <a class="btn amado-btn d-inline" asp-action="Update" asp-route-id="@Model.Id">Güncelle</a>
                        <a class="btn amado-btn d-inline" asp-action="Delete" asp-route-id="@Model.Id">Sil</a>
                        <a class="btn amado-btn d-inline" asp-action="RemoveFromDb" asp-route-id="@Model.Id">Kaldır</a>
                        <a class="btn amado-btn d-inline" asp-action="GetImagesByProduct" asp-controller="ProductImage" asp-route-id="@Model.Id">Fotoğraf Ekle/Sil</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Details Area End -->
