@model List<CategoryDto>
@{
    ViewData["Title"] = "Kategoriler";

}

<!-- Category Area Start -->
<div class="products-catagories-area clearfix mt-2">
    <div class="col-sm-12 text-center">
        <h3>Kategoriler</h3>
    </div>
    <div class="amado-pro-catagory clearfix">
       
        @foreach (var category in Model)
        {
            <!-- Single Category -->
            <div class="single-products-catagory clearfix">
                <a asp-action="Detail" asp-controller="Category" asp-route-id="@category.Id">
                    <img src="@category.Products[0].ProductImages[0].Url" alt="@category.Products[0].ProductName _Image">
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>@category.Products[0].Price.ToString("C2") 'den itibaren</p>
                        <h4>@category.CategoryName</h4>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
<!-- Category Area End -->